<section id="home-section">
    <div>
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <h1>Welcome to <strong style="color: #039be5;">My Log</strong></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores similique quod autem id deleniti, error commodi debitis eaque mollitia culpa dolorem earum aut corrupti blanditiis quae suscipit atque possimus minima. Vitae, molestias.</p>
        </div>
    </div>
</section>