<section id="register">
        <div class="page container p-5">
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                    <h1>Welcome to My Log</h1>
                </div>
                <div class="form-area col-6">
                    <h1 class="mb-4 text-center">Sign Up</h1>
                    <form method="POST" action="/registered">
                        <div class="row g-3">
                            <div class="col-xxl-6 col-sm-12">
                                <input type="text" name="fname" class="form-control" placeholder="First name" aria-label="First name">
                            </div>
                            <div class="col-xxl-6 col-sm-12">
                                <input type="text" name="mname" class="form-control" placeholder="Middle name" aria-label="First name">
                            </div>
                            <div class="col-xxl-6 col-sm-12">
                                <input type="text" name="lname" class="form-control" placeholder="Last name" aria-label="Last name">
                            </div>
                        </div>
                        <div class="row g-3 my-1">
                            <div class="col-xxl-6 col-sm-12">
                                <input type="text" name="email" class="form-control" placeholder="Email id" aria-label="Email id">
                            </div>
                            <div class="col-xxl-6 col-sm-12">
                                <input type="text" name="phone" class="form-control" placeholder="Phone no" aria-label="Phone no">
                            </div>
                        </div>
                        <div class="row g-3 my-1">
                            <div class="col">
                                <label for="dob" class="mb-1">Date of birth</label>
                                <input type="date" name="dob" name="email" class="form-control" aria-label="Date of birth">
                            </div>
                        </div>
                        <div class="row g-3 my-1">
                            <div class="col-xxl-6 col-sm-12">
                                <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password">
                            </div>
                            <div class="col-xxl-6 col-sm-12">
                                <input type="password" name="cnfpassword" class="form-control" placeholder="Confirm password" aria-label="Confirm password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary my-3">Register</button>
                    </form>
                    <p>Already have an account <a href="/">Sign In</a></p>
                </div>
            </div>
        </div>
</section>